.table {
  /* table-layout: fixed; */
}

/* .tabledatanamedash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.dashboardmain {
  margin-top: 8%;
  /* width: 90% !important */
}

.dashboardbtngroup {
  display: flex !important;
  justify-content: flex-end !important;
  justify-content: space-around !important;
  margin-bottom: 1%;
  margin-top: 10%;
  /* height: 10px */
}

.dashboardbtncreatefolder {
  /* flex: 0.5 !important; */
  margin-left: 10%;
}
.dashboardbtnbr {
  flex: 4;
}

.dashboardbackicon {
  vertical-align: middle;
  height: 60%;
}

.dashboardpathdiv {
  margin-top: 1%;
  height: 20%;
  font-size: 2rem;
}

.custom-file-input + label {
  /* font-size: 200%; */
  height: 56.5px !important;
  /* font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #2f2aef !important;
  display: inline-block; */
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
  /* color: white;
  background-color: #2f2aef !important; */
}

.dashfileinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.backbtn {
  background-color: #2f2aef !important;
  padding-left: 2%;
  padding-right: 2%;
}

.createfile {
  background-color: #2f2aef !important;
  padding-left: 2%;
  padding-right: 2%;
}

.fileuploadbtn {
  margin-left: 1%;
  /* background-color: #2f2aef !important; */
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1% !important;
}

i {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
