.timeremain {
  text-align: left;
  font-size: 2.4rem;
  width: 67%;
  /* display: flex; */
}
.dashfileinputtemp {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.dashboardbtnbrlite {
  /* flex: 4; */
}

.contentdivdashboardlite {
  display: flex;
  justify-content: space-between;
}

.dashfileinputtemp {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileuploadbtndashlite {
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  /* margin-bottom: 1% !important; */
}
