<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- views/partials/head.ejs -->
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:url" content="https://airsharebeta.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AIRSHARE" />
    <meta property="og:description" content="404 Not found" />
    <meta name="description" content="404 Not found" />
    <meta name="subject" content="AIRSHARE" />

    <meta name="url" content="https://airsharebeta.herokuapp.com" />
    <meta
      property="og:image"
      content="https://img.icons8.com/nolan/512/000000/share.png"
    />
    <meta property="og:locale" content="si_LK" />
    <title>404</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://airsharebeta.herokuapp.com">
              <img src="https://img.icons8.com/nolan/32/000000/share.png" />
              AIRSHARE
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="jumbotron">
        <h3 style="color: rgb(255, 0, 0)">404</h3>
        <h3 style="color: rgb(255, 0, 0)">File Not found</h3>

        <br />

        <p>
          <a disabled="true" class="btn btn-primary" role="button">Download</a>
        </p>
      </div>
    </main>

    <footer>
      <!-- views/partials/footer.ejs -->
      <p class="text-center text-muted">© Copyright 2019 AIRSHARE.inc</p>
    </footer>
  </body>
</html>
