.bootsrtapaltert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 100px;
  margin-bottom: -50px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
  width: 21%;
  text-align: center;
  margin: 0 auto;
  animation: swipdown 10s forwards;
  z-index: 100;
}

.danger {
  color: #813838;
  background-color: #fee2e1;
  border-color: #fdd6d6;
}

.success {
  color: #28623c;
  background-color: #dbf2e3;
  border-color: #cdedd8;
}

@keyframes swipdown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  40% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@media screen and (max-width: 1200px) {
  .bootsrtapaltert {
    width: 51%;
    
  }
}

@media screen and (max-width: 1200px) {
  .bootsrtapaltert {
    width: 71%;
  }
}
